body, html {
	height: 100%;
	background-color: white;
}

.mainpagediv {
	background-image: url("../images/allianz_arena_100.jpg");
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
}

.rightcell {
	float: right;
	padding-right: 30%;
	padding-top: 20%;
	position:relative;
	top: 20%;
	font-size: 50px;
	font-family: cursive;
	font-color: white;
}
